---
layout: page_title
title: <i class="fa fa-home fa-lg"></i>
titlename: 首页
---
<div>
  <center>
    <a href="/html/newYear.html" title="2016新春祝福" style=" color:#FF0000; font-size:58px;">2016新春祝福</a>
  </center>
</div>
<!--<br>--> 
<center><h3><font color="#000080">不</font><font color="#FFA500">念</font><font color="#2E8B57">过</font><font color="#F08080">往，</font><font color="#00CED1">不</font><font color="red">畏</font><font color="#BA55D3">将</font><font color="#601986">来</h3></center>
<div class="row">
  <div class="col-md-12">
    <div class="panel panel-primary">
      <div class="panel-heading">{{ site.locals.newest }}</div>
      {% for post in paginator.posts %}
        <a  href='{{ post.url }}' class="list-group-item pjaxlink clearfix">
          {{post.title}}
          <span class="badge">{{ post.date | date:"%Y年%m月%d日" }}</span>
        </a>
      {% endfor %}
    </div>
  </div>
  {% for cate in site.cates %}
    <div class="col-md-12">
      <div class="panel panel-primary">
        <div class="panel-heading">{{ cate }}</div>
        {% for tag in site.tags %} 
          {% if tag[0] == cate %}
            {% for post in tag[1] %}
              <a  href='{{ post.url }}' class="list-group-item pjaxlink clearfix">
                {{post.title}}
                <span class="badge">{{ post.date | date:"%Y年%m月%d日" }}</span>
              </a>
            {% endfor %}
          {% endif %}
        {% endfor %}
      </div>
    </div>
  {% endfor %}
  <div>
    <a href="/html/html5.html" title="HTML5学习">HTML5学习</a>
  </div>

</div>
 
